<h2 class="h5">ריכוז אנשי קשר</h2>
<div class="row">
    <p>מספר אנשי קשר בתהליך: {{contacts.length}}</p>
    <p>
        פעולות אפשריות
        <input type="button" value="הוספת מבוטח" (click)="addInsured()" class="btn btn-outline-secondary mx-2 p-1">
        <input type="button" value="איפוס מלא" (click)="resetAll()" class="btn btn-outline-secondary mx-2 p-1">
        <input type="button" value="איפוס אנשי קשר" (click)="resetContacts()" class="btn btn-outline-secondary mx-2 p-1">
    </p>
</div>